<html>
<head>
  <meta charset="utf-8" />
  <script src="https://unpkg.com/vue@next"></script>
  <style>
    div#app { margin: 20px auto; padding: 20px; width: 300px;
          border: 1px solid gray; box-shadow: 5px 5px 5px #aaa; }
    p { font-size: 15pt; color: blue; }
    input { width: 30px; height: 30px;  }
  </style>
</head>
<body>
  <div id="app">
      <h1>입력 양식</h1>
      <p>{{ value }}</p>
      <hr />
      <select v-model="choice">
        <option>컴퓨터공학</option>
        <option>소프트웨어공학과</option>
        <option>정보통신공학과</option>ß
        <option>인공지능공학과</option>ß
      </select>
      <input type="checkbox" v-model="value" />
  </div>
  <script type="text/javascript">
    let app = {
      data() {
        return {
        choice : 소프트웨어공학과,    
          value: false
        };
      }
    };
    Vue.createApp(app).mount("#app");
   </script>
</body>
</html>

